*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    /* background: linear-gradient(to right, #2c3e50, #2980b9); */
    background: linear-gradient(to right, #2c3e50, #42455a);
}


/* bookwarom styling */

.responsive{
    max-width: 75%;
    height: auto;
}

img{
    padding: 15px;
}

.displayBox{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.scroll-box{
    overflow-y: auto;
    height: 300px;
    float: left;
    padding: 1rem;
}



/* home - page styling */

.banner{
    width: 80%;
    height: 70%;
    color: #fff;
}

.text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}

.text p{
    color: #919191;
    width: 650px;
    margin: 30px 0 30px 40px;
    font-size: 15px;
    line-height: 25px;
}

.pic img{
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
}

.play-btn{
    margin-left: 40px;
    margin-bottom: 40px;
    display: inline-flex;
}
.play-btn-inner{
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 20px;
    background: linear-gradient(#42455a, #424242), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    text-align: center;
}

.play-btn-inner .fa{
    padding: 18px 0;
    font-size: 13px;
    cursor: pointer;
}

small{
    margin: auto 20px;
    font-size: 13px;
    letter-spacing: 3px;
    color: #19dafa;
    cursor: pointer;
}


.social{
    position: absolute;
    right: 72px;
    bottom: 35px;
}

.social ul li{
    list-style: none;
    text-align: center;
    margin-top: 15px;
}

.social ul li a{
    color: #999;
    border-radius: 50%;
    border: 1px solid #999;
    padding: 5px;
    display: block;
}
